* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Gruppo, Helvetica, sans-serif;
  background-color: slategray;
}
.fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#background {
  background-size: cover;
  transition: opacity 500ms ease-in;
  opacity: 0;
}
#background_opacity {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    transparent,
    transparent
  );
}
#time {
  display: block;
  padding: 5%;
  width: 50px;
  color: #fff;
  font-size: 4em;
  line-height: 3.5rem;
}
#time_zone {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-weight: lighter;
}
.links {
  position: fixed;
  top: 10%;
  right: 5%;
}
.link {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  color: black;
  border-radius: 5px;
  margin: 0 10px 10px 0;
}
.link img {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.control {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  line-height: 18px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: black;
  border-radius: 10px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
  opacity: 0.4;
  cursor: pointer;
}
#terminal {
  position: fixed;
  right: 5%;
  bottom: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1em;
  color: white;
}
#terminal:empty {
  display: none;
}
#search {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
}
#search input {
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  font-family: Gruppo, Helvetica, sans-serif;
  font-size: 3em;
  text-shadow: 1px 1px 3px black;
  text-align: center;
}
